# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

Enchanters/.idea/
Enchanters/.sourcemaps/
Enchanters/.sass-cache/
Enchanters/.tmp/
Enchanters/.versions/
Enchanters/coverage/
Enchanters/dist/
Enchanters/node_modules/
Enchanters/tmp/
Enchanters/temp/
Enchanters/hooks/
Enchanters/platforms/
Enchanters/plugins/
Enchanters/plugins/android.json
Enchanters/plugins/ios.json
Enchanters/www/
Enchanters/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
