page-business {
	.tile {
		min-width: 100%;
		max-width: 100%
	}
}

tech-button {
  width: 100px;
}

bus-button {
  width: 100px;
}

tech-button {
  width: 100px;
}

bus-button {
  width: 100px;
}

tech-button {
  width: 100px;
}

bus-button {
  width: 100px;
}

tech-button {
  width: 100px;
}

bus-button {
  width: 100px;
}
