page-welcome {
	.long-button {
		min-width: 100%;
		max-width: 100%
	}

	.tiny-button {
		min-width: 47.76%;
		max-width: 47.76%
	}
	.left {
		min-width: 90%;
		max-width: 90%
	}

  .no-scroll .scroll-content{
    overflow: hidden;
  }
}
